<template>
  <f7-page name="about">
    <f7-navbar title="About" back-link="Back">
      <f7-nav-right>
        <f7-link icon-only>
          <f7-icon ios="f7:add" aurora="f7:add" md="material:add" class="icon f7-icons">
            <f7-badge color="red">5</f7-badge>
          </f7-icon>
        </f7-link>
  </f7-nav-right>
    </f7-navbar>

    <!-- please add icon for removing list items on right side of Navbar.
  Clicking the icon should trigger a method to remove the first item from tasks array. -->
  <!-- add a plus icon that triggers display of an input element for specifying title. user must confirm title.
  confirming adds a new element to the tasks array, to display new element in the list. -->

    <f7-block-title>About My App</f7-block-title>

    <div class="list media-list task-list">
      <ul>
        <li v-for="task in tasks">
          <a href="#" class="item-link item-content">
            <div class="item-media"><img v-bind:src="task.picture" width="80"/></div>
            <!-- The following line is not working. You need to find out,
            how to access element attributes within strings in Vue -->
            <!--
            <div class="item-media"><img src="task.picture" width="80"/></div>
            -->
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">{{task.title}}</div>
                <div class="item-after">$15</div>
              </div>
              <div class="item-subtitle">Beatles</div>
              <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
            </div></a>
          </li>

      <!--
        <li>
          <a href="#" class="item-link item-content">
            <div class="item-media"><img src="https://cdn.framework7.io/placeholder/people-160x160-2.jpg" width="80"/></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Don't Stop Me Now</div>
                <div class="item-after">$22</div>
              </div>
              <div class="item-subtitle">Queen</div>
              <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="item-link item-content">
            <div class="item-media"><img src="https://cdn.framework7.io/placeholder/people-160x160-3.jpg" width="80"/></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Billie Jean</div>
                <div class="item-after">$16</div>
              </div>
              <div class="item-subtitle">Michael Jackson</div>
              <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
            </div>
          </a>
        </li>
      -->
      </ul>
    </div>

  </f7-page>
  </template>


<script>
  import routes from '../js/routes.js';

  export default {
    data() {
      return {
        tasks: [
          {
            title: 'bring out trash',
            picture: 'https://cdn.framework7.io/placeholder/people-160x160-1.jpg',
          },
          {
            title: 'go shopping',
            picture: 'https://cdn.framework7.io/placeholder/people-160x160-2.jpg',
          },
          {
            title: 'shut down the notebook',
            picture: 'https://cdn.framework7.io/placeholder/people-160x160-3.jpg',
          }
        ],
      }
    },
    methods: {
      domeSomething() {
        console.log('something was done!');
      }
    },
    mounted() {
      console.log('page is mounted now!');

    }
  }
</script>

<style lang="css" scoped>

  .task-list{
    margin: 10px;
  }

</style>
