/* Your app custom styles here */

.item-inner
{
  padding: 0 !important;
  background-color: red;
  background: none;
}
.item-inner-wrap
{
  padding: 0px 0px 0px 0px !important;
}

.item-input{
  padding: 0px 0px 0px 0px !important;
  input
{
  padding: 0px 0px 0px 0px !important;
  text-align: center;
  color:white;
  border:1px solid white;
  border-radius: 5px ;
  color:white;
  opacity: 1.9;
  }
}
